{% extends "base.html" %}

{% block body %}
  <h2>Assignment Rejection Operation</h2>

  <form action="{{ action|escape }}" method="POST">
    <h3>AWS Hostname</h3>

    <p>{{ rejection.aws_hostname|escape }}</p>

    <h3>HIT ID</h3>

    <p>{{ rejection.hit_id|escape }}</p>

    <h3>Reason</h3>

    <p>{{ rejection.reason|escape }}</p>

    <h3>Assignment IDs</h3>

    <ul>
      {% for id in rejection.assignment_ids %}
        <li>{{ id|escape }}</li>
      {% endfor %}
    </ul>

    <div>
      <input type="submit" value="Confirm">
    </div>
  </form>
{% endblock %}