{% extends "base.html" %}

{% block body %}
  <h2>Assignment Approval Operation</h2>

  <form action="{{ action|escape }}" method="POST">
    <h3>AWS Hostname</h3>

    <p>{{ approval.aws_hostname|escape }}</p>

    <h3>HIT ID</h3>

    <p>{{ approval.hit_id|escape }}</p>

    <h3>Assignment IDs</h3>

    <ul>
      {% for id in approval.assignment_ids %}
        <li>{{ id|escape }}</li>
      {% endfor %}
    </ul>

    <div>
      <input type="submit" value="Confirm">
    </div>
  </form>
{% endblock %}