{% extends "base.html" %}

{% block body %}
  <form action="{{ url|escape }}" method="POST" enctype="multipart/form-data">
    {% include "aws_form_inputs.html" %}

    <div>
      <label>Message Subject</label>
      <input type="text" name="message_subject" size="50">
    </div>

    <div>
      <label>Message Text</label>
      <textarea name="message_text" rows="10" cols="60"></textarea>
    </div>

    <div>
      <label>Worker IDs (1-column CSV)</label>
      <input type="file" name="worker_ids">
    </div>

    <div>
      <input type="submit" value="Preview">
    </div>
  </form>
{% endblock %}