{% extends "base.html" %}

{% block body %}
  <form action="{{ url|escape }}" method="POST" enctype="multipart/form-data">
    {% include "aws_form_inputs.html" %}

    <div>
      <label>HIT ID</label>
      <input type="text" name="hit_id" size="50">
    </div>

    <div>
      <label>Amount (USD)</label>
      <input type="text" name="amount" size="10" value="0.10">
    </div>

    <div>
      <label>Reason</label>
      <input type="text" name="reason" size="50">
    </div>

    <div>
      <label>Worker/Assignment IDs (2-column CSV)</label>
      <input type="file" name="worker_and_assignment_ids">
    </div>

    <div>
      <input type="submit" value="Preview">
    </div>
  </form>
{% endblock %}