{% extends "base.html" %}

{% block body %}
  <h2>Worker Bonus Operation</h2>

  <form action="{{ action|escape }}" method="POST">
    <h3>AWS Hostname</h3>

    <p>{{ bonus.aws_hostname|escape }}</p>

    <h3>HIT ID</h3>

    <p>{{ bonus.hit_id|escape }}</p>

    <h3>Amount</h3>

    <p>{{ bonus.amount|escape }} USD</p>

    <h3>Reason</h3>

    <p>{{ bonus.reason|escape }}</p>

    <h3>Worker/Assignment IDs</h3>

    <table>
      <thead>
        <tr>
          <th scope="col">Worker ID</th>
          <th scope="col">Assignment ID</th>
        </tr>
      </thead>
      <tbody>
        {% for item in worker_and_assignment_ids %}
          <tr>
            <td>{{ item.worker_id|escape }}</td>
            <td>{{ item.assignment_id|escape }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div>
      <input type="submit" value="Confirm">
    </div>
  </form>
{% endblock %}