{% extends "base.html" %}

{% block body %}
  <table class="clickable_rows">
    <thead>
      <tr>
        <th scope="col">Confirmed</th>
        <th scope="col">HIT ID</th>
        <th scope="col">Amount (USD)</th>
        <th scope="col">Reason</th>
        <th scope="col">Workers</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr data-url="{{ item.url|escape }}">
          <td>{{ item.bonus.confirmed|date:"Y-m-d H:i" }}</td>
          <td>{{ item.bonus.hit_id|escape }}</td>
          <td>{{ item.bonus.amount|escape }}</td>
          <td>{{ item.bonus.reason|escape }}</td>
          <td>{{ item.bonus.worker_ids|length }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}